header
    nav.header-container
        ul
            li
                a(href=path + "") главная
            li
                a(href=path + "pages/portfolio.html") портфолио
            li.logo
                a(href=path)
                    img(src=path + "img/es_logo.svg" alt="Екатерина Сурначева")
            li
                a(href=path + "pages/price.html") цены
            li
                a(href=path + "pages/contacts.html") контакты
